@(businessForm: Form[Business], levels: Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add a computer</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(businessForm("name"), '_label -> "Business name")
            @inputText(businessForm("geoId"), '_label -> "Geo Id")
            @inputText(businessForm("ownerId"), '_label -> "Owner Id")
            @inputText(businessForm("typeId"), '_label -> "Type Id")
            @inputText(businessForm("categoryId"), '_label -> "Category")

            @select(
                businessForm("categoryId"), 
                levels, 
                '_label -> "Type", '_default -> "-- Choose Type--",
                '_showConstraints -> false
            )
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
