@()
<ul class="leftnav nav">
                        <li class="main-menu">
                            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a> -->
                            <!--
         jQuery-menu-aim: this <ul> defines the dropdown main menu and its contents.
         This is just one of many possible examples for defining the menu's HTML.
         jQuery-menu-aim is agnostic to your HTML structure, it only fires events to
         be used as you please.
         -->
                            <ul id="leftMenu" class="dropdown-menu" role="menu">
                                <li class="nav_menu" data-submenu-id="submenu-discussions">
                                    <a href="#/posts" id="p1"><div class="nl_nav nl_nav-in-discussions-nl"></div>Discussions</a>
                                    <!--
               jQuery-menu-aim: each class="popover" div defines submenu content. There are a million
               and one ways to do this, places to structure the HTML, etc. This is just one example.
               jQuery-menu-aim is agnostic to your HTML structure, it only fires events to be used
               as you please.
               -->
                                   <!--  <div id="submenu-events" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Patas</h3>

                                    </div> -->
                                </li>

                                <li class="nav_menu" data-submenu-id="submenu-events">
                                    <a href="#/events" id="p1"><div class="nl_nav nl_nav-in-events-nl"></div>Events</a>

                                    <!--
               jQuery-menu-aim: each class="popover" div defines submenu content. There are a million
               and one ways to do this, places to structure the HTML, etc. This is just one example.
               jQuery-menu-aim is agnostic to your HTML structure, it only fires events to be used
               as you please.
               -->
                                   <div id="submenu-events" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Events</h3>
                                        <div class="popover-content">
                                            <div class="cats">
                                                <ul class="ccc0">
                                                    <li><a href="act/">Arts & Crafts Community</a>
                                                    </li>
                                                    <li><a href="ats/">Dance</a>
                                                    </li>
                                                    <li><a href="kid/">Food & Drinks</a>
                                                    </li>
                                                    <li><a href="cls/">Lifestyle</a>
                                                    </li>
                                                    <li><a href="eve/">Literary</a>
                                                    </li>
                                                    
                                                </ul>
                                                <ul class="ccc1">
                                                    <li><a href="com/">Music</a>
                                                    </li>
                                                    <li><a href="grp/">Nightlife & Parties</a>
                                                    </li>
                                                    <li><a href="vnn/">Sales And Exhibitions</a>
                                                    </li>
                                                    <li><a href="laf/">Theatre</a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav_menu" data-submenu-id="submenu-essential">
                                    <a href="#" class=""><div class="nl_nav nl_nav-in-essential-nl"></div>Essential</a>
                                    <div id="submenu-essential" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Essential</h3>
                                        <div class="popover-content">
                                            <div class="cats">
                                                <ul class="ccc0">
                                                    <li><a href="#business/8">police</a>
                                                    </li>
                                                    <li><a href="#business/8">ambulance services</a>
                                                    </li>
                                                    <li><a href="#business/8">blood banks</a>
                                                    </li>
                                                    <li><a href="#business/8">fire brigade services</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav_menu" data-submenu-id="submenu-food">
                                    <a href="#" class=""><div class="nl_nav-in-food-nl"></div>Food & NightLife</a>
                                    <div id="submenu-food" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Food & NightLife</h3>
                                        <div class="popover-content">
                                            <div class="cats">
                                                <ul class="ccc0">
                                                    <li><a href="#business/5">restaurants</a>
                                                    </li>
                                                    <li><a href="#business/13">lounge bars</a>
                                                    </li>
                                                    <li><a href="#business/16">pubs</a>
                                                    </li>
                                                    <li><a href="#business/11">discotheques</a>
                                                    </li>
                                                    <li><a href="#business/14">night clubs</a>
                                                    </li>
                                                    <li><a href="#business/15">night life restaurants</a>
                                                    </li>
                                                    <li><a href="#business/10">cafes</a>
                                                    </li>
                                                    <li><a href="#business/12">ice cream parlours</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav_menu" data-submenu-id="submenu-fitness">
                                    <a href="#" class=""><div class="nl_nav-in-fitness-nl"></div>Fitness</a>
                                    <div id="submenu-fitness" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Fitness</h3>
                                        <div class="popover-content">
                                            <div class="cats">
                                                <ul class="ccc0">
                                                    <li><a href="#business/48">Gymnasiums</a>
                                                    </li>
                                                    <li><a href="#business/49">Yoga Classes</a>
                                                    </li>
                                                    <li><a href="#business/50">Dietitians</a>
                                                    </li>
                                                    <li><a href="#business/51">Health Clubs</a>
                                                    </li>
                                                    
                                                </ul>
                                                <ul class="ccc1">
                                                    
                                                    <li><a href="#business/52">Meditation Centres</a>
                                                    </li>
                                                   
                                                    <li><a href="#business/53">Sports Clubs</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav_menu" data-submenu-id="submenu-shopping">
                                    <a href="#" class=""><div class="nl_nav-in-shopping-nl"></div>Shopping</a>
                                    <div id="submenu-shopping" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Shopping</h3>
                                        <div class="popover-content">
                                            <div class="cats">
                                                <ul class="ccc0">
                                                    <li><a href="#business/6">shopping malls</a>
                                                    </li>
                                                    <li><a href="#business/3">jewelry stores</a>
                                                    </li>
                                                    <li><a href="#businss/27">electronic and gadgets</a>
                                                    </li>
                                                    <li><a href="#business/26">bridal wear</a>
                                                    </li>
                                                    
                                                </ul>
                                                <ul class="ccc1">
                                                    <li><a href="#business/2">super market</a>
                                                    </li>
                                                    <li><a href="#business/25">baby products</a>
                                                    </li>
                                                    <li><a href="#business/29">book shops</a>
                                                    </li>
                                                    <li><a href="#business/28">furniture shops</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav_menu" data-submenu-id="submenu-entertainment">
                                    <a href="#" class=""><div class="nl_nav nl_nav-in-entertainment-nl"></div>Entertainment</a>
                                    <div id="submenu-entertainment" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Entertainment</h3>
                                        <div class="popover-content">
                                            <div class="cats">
                                                <ul class="ccc0">
                                                    <li><a href="#business/24">Amusement Parks</a>
                                                    </li>
                                                    <li><a href="#business/24">Water Parks</a>
                                                    </li>
                                                    <li><a href="#business/23">Auditoriums</a>
                                                    </li>
                                                    <li><a href="#business/22">Bowling Alleys</a>
                                                    </li>
                                                    
                                                </ul>
                                                <ul class="ccc1">
                                                    <li><a href="#business/7">Entertainment Centres </a>
                                                    </li>
                                                    <li><a href="#business/7">Gokarting Clubs</a>
                                                    </li>
                                                    <li><a href="#business/7">Video Game Parlours</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav_menu" data-submenu-id="submenu-health">
                                    <a href="#" class=""><div class="nl_nav nl_nav-in-health-nl"></div>Health</a>
                                    <div id="submenu-health" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Health</h3>
                                        <div class="popover-content">
                                            <div class="cats">
                                                <ul class="ccc0">
                                                    <li><a href="#business/1">Hospitals</a>
                                                    </li>
                                                    <li><a href="#business/1">Eye</a>
                                                    </li>
                                                    <li><a href="#business/1">Public</a>
                                                    </li>
                                                    <li><a href="#business/1">Cancer</a>
                                                    </li>
                                                    <li><a href="#business/1">Charitable</a>
                                                    </li>
                                                    <li><a href="#business/1">Children</a>
                                                    </li>
                                                    <li><a href="#business/1">ENT</a>
                                                    </li>
                                                    <li><a href="#business/1">Maternity</a>
                                                    </li>
                                                    <li><a href="#business/1">Mental</a>
                                                    </li>
                                                    <li><a href="#business/1">Private</a>
                                                    </li>
                                                    <li><a href="#business/1">Veterinary</a>
                                                    </li>
                                                </ul>
                                                <ul class="ccc1">
                                                    <li><a href="#business/4">Medical Stores</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav_menu" data-submenu-id="submenu-services">
                                    <a href="#@routes.Application.list()" class=""><div class="nl_nav nl_nav-in-services-nl"></div>Services</a>
                                    <!--
               jQuery-menu-aim: each class="popover" div defines submenu content. There are a million
               and one ways to do this, places to structure the HTML, etc. This is just one example.
               jQuery-menu-aim is agnostic to your HTML structure, it only fires events to be used
               as you please.
               -->
                                    <div id="submenu-services" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Services</h3>
                                        <div class="popover-content">
                                            <div class="cats">
                                                <ul class="ccc0">
                                                    <li><a href="#/business/31" id="xy1">Gas Agencies</a>
                                                    </li>
                                                    <li><a href="#/business/32" id="xy2">Carpenters</a>
                                                    </li>
                                                    <li><a href="#/business/33" id="xy3">Dry Cleaners</a>
                                                 
                                                    <li><a href="#/business/34" id="xy5">Electricians</a>
                                                    </li>
                                                    <li><a href="#/business/35" id="xy6">Tailors</a>
                                                    </li>
                                                </ul>
                                                <ul class="ccc1">
                                                    
                                                    <li><a href="#business/36">Kindergartens</a>
                                                    </li>
                                                    
                                                    <li><a href="#business/37">Laundry Services</a>
                                                    </li>
                                                    <li><a href="#business/38">Packers & Movers</a>
                                                    </li>                                                   
                                                    <li><a href="#business/39">Plumbers</a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav_menu" data-submenu-id="submenu-repair">
                                    <a href="#" class=""><div class="nl_nav nl_nav-in-repair-nl"></div>Repair</a>
                                    <div id="submenu-repair" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Repair</h3>
                                        <div class="popover-content">
                                            <div class="cats">
                                                <ul class="ccc0">
                                                    <li><a href="#business/41">Car</a>
                                                    </li>
                                                    
                                                    <li><a href="#business/42">Laptop</a>
                                                    </li>
                                                    <li><a href="#business/43">Motorcycle</a>
                                                    </li>
                                                    <li><a href="#business/53">Refrigerator</a>
                                                    </li>
                                                    <li><a href="#business/44">AC</a>
                                                    </li>
                                                   
                                                </ul>
                                                <ul class="ccc1">
                                                    <li><a href="#business/45">Camera</a>
                                                    </li>
                                                 
                                                    <li><a href="#business/46">Washing Machine</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav_menu" data-submenu-id="submenu-beauty">
                                    <a href="#" class=""><div class="nl_nav nl_nav-in-beauty-nl"></div>Beauty & Spa</a>
                                    <div id="submenu-beauty" class="popover" style="display: none; top: -1px; left: 186px; height: 268px;">
                                        <h3 class="popover-title">Beauty & Spa</h3>
                                        <div class="popover-content">
                                            <div class="cats">
                                                <ul class="ccc0">
                                                    <li><a href="act/">activities</a>
                                                    </li>
                                                    <li><a href="ats/">artists</a>
                                                    </li>
                                                    <li><a href="kid/">childcare</a>
                                                    </li>
                                                    <li><a href="cls/">classes</a>
                                                    </li>
                                                    <li><a href="eve/">events</a>
                                                    </li>
                                                    <li><a href="com/">general</a>
                                                    </li>
                                                    <li><a href="grp/">groups</a>
                                                    </li>
                                                </ul>
                                                <ul class="ccc1">
                                                    <li><a href="vnn/">local&nbsp;news</a>
                                                    </li>
                                                    <li><a href="laf/">lost+found</a>
                                                    </li>
                                                    <li><a href="muc/">musicians</a>
                                                    </li>
                                                    <li><a href="pet/">pets</a>
                                                    </li>
                                                    <li><a href="pol/">politics</a>
                                                    </li>
                                                    <li><a href="rid/">rideshare</a>
                                                    </li>
                                                    <li><a href="vol/">volunteers</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>